@model IEnumerable<CityLibraryTestWork.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "bookList" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Search by book title</label>
            <input class="form-control" type="search" name="searchTermBook" />
        </div>
        <div class="form-group">
            <label class="control-label">Search by autor first name</label>
            <input class="form-control" type="search" name="searchTermAutroFirstName" />
        </div>
        <div class="form-group">
            <label class="control-label">Search by autor second name</label>
            <input class="form-control" type="search" name="searchTermAutroSecondName" />
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-default" type="submit" value="Search" />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Add New Book", "Create")
</p>

@Html.Partial("_booksPartial", Model)

