<form method="get">
    <div class="form-group">
        <input class="form-control" type="search" name="searchTerm" />
        <input class="btn btn-default" type="submit" value="Search" />
    </div>
</form>

